body {
  background-color: powderblue;
  text-align: center;
}

h1 {
  color: black;
  font-family: "Times New Roman", serif;
}
p {
  color: black;
}

 table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

 td:nth-child(even), th:nth-child(even) {
  background-color: #D6EEEE;
}
